@charset "UTF-8";
@font-face{ 
	font-family: 'open_sansregular';
    src: url('../assets/police/OpenSans-Regular-webfont.eot');
    src: url('../assets/police/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/police/OpenSans-Regular-webfont.woff') format('woff'),
         url('../assets/police/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../assets/police/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{

	font-family: open_sansregular, Arial, Verdana, sans-serif;
	margin: 0;
	padding-top: 60px;
	padding-bottom : 50px;
	/*background: url("../assets/images/imgFd.jpg") fixed;*/
	background-color : #ffe28a; /*rgba (255,214,90,1);*/

}

#blocPge
{
	
	background-color : #ffe28a;
	padding-top : 10px;
	padding-bottom : 170px;
	
}

#menuTop
{
	/*background: url("../assets/images/imgFond.jpg") fixed no-repeat top left;*/
	background-color : rgba(243, 183,134,1);
	
		
}

#menuTopUser
{
	background-color : rgba(243, 183,134,1);
	text-align : center;
	/*display : flex;
	flex-direction : column;
	justify-content: center;*/
	
}

#titreCompteUser
{
	margin :0;
	padding : auto;
	display : flex;
	flex-direction : column;
	justify-content: center;
}

#modifUser
{
	text-align : center;
	border-color: #fd7e14; 
	border-style: solid; 
	border-width: medium;
	padding : 5px;
}

#map {
	height: auto;
}

#titre
{
	text-align : center;
}

#footer
{
	background-color : rgba(243, 183,134,1);
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 25px;
}


#blocImgTopo
{
	margin:auto;
	padding:0;
}

#imageTopo
{
	display : flex;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 5px;
}

#btonSuppr
{
	text-align: right;
}

#empruntLivre{
	text-align : center;
	border-color: #fd7e14; 
	border-style: solid; 
	border-width: medium;
	padding : 5px;
}

ul {
list-style:none;
margin-left:0;
padding-left:0;
}